{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<div class="form">
		<form name="cow-form">
		<div ng-controller="CowCtrl as ctrl">
			<h3>Insert cow</h3>
			{{ form(form) }}

	    </div>
    </form>
</div>

</div>






{% endblock %}